<%- include ('../partials/header.ejs') %>

<div class="container">
    <header class="jumbotron" style="
background-color: #ddf11c;    min-width: 240px; overflow:hidden;
">
        <div class="container" style="color: white;">
            <h1>Explore Places</h1>
            <p>View the hand-picked places from around the world</p>
            <p>
                <a class="btn btn-primary btn-large " href="/places/new">ADD a new Place!</a>
            </p>
        </div>
    </header>
    <div class="row text-center" style="display:flex; flex-wrap:wrap;  overflow:hidden;">
        <% places.forEach(function(place){ %>
            <div class ="col-md-3 col-sm-6" style="min-width: 200px;">
                <div class="thumbnail" id="thumbnailindexpageimages">
                    <img src="<%=place.image %>" id="imageindexpage">
                    <div class="caption" id="captionindex">
                        <h2 id="imagetitle">
                            <%= place.name%>
                        </h2>
                        <p style="    margin: 0; text-align: start;">
                            <a href="/places/<%= place.id%>" class="btn btn-xs btn-danger" id="btnmoreinfo">Info</a>
                        </p>
                    </div>
                    
                </div>

            </div>
            <% }); %>

    </div>
  
</div>
<%- include ('../partials/footer.ejs') %>


