<%- include ('../partials/header.ejs') %>

<div class="container">
    <header class="jumbotron" style="
    min-width: 240px;
">
        <div class="container">
            <h1>Explore Places</h1>
            <p>View the hand-picked places from around the world</p>
            <p>
                <a class="btn btn-primary btn-large " href="/places/new">ADD a new Place!</a>
            </p>
        </div>
    </header>
    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
        <% places.forEach(function(place){ %>
            <div class ="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%=place.image %>" style="max-width: 100%;max-height:100%;" >
                    <div class="caption" >
                        <h5>
                            <%= place.name%>
                        </h5>
                        <p>
                            <a href="/places/<%= place.id%>" class="btn btn-info">More Info</a>
                        </p>
                    </div>
                    
                </div>

            </div>
            <% }); %>

    </div>
  
</div>
<%- include ('../partials/footer.ejs') %>


