<%- include ('../partials/header.ejs') %>

<div class="container">
    <h1 class="text-center"><%= theplace.name %></h1>
    <div class="container" >
        <div class="img-thumbnail">
            <img src="<%= theplace.image %>" style="display: block;
            margin-left: auto;       margin-right: auto;width: 50%;">
            <div class="caption">
                <p><%= theplace.description %></p>
            </div>

        </div>
    </div>
    <div class="container">
        <a class="btn btn-primary" href="<%= theplace.id %>/comments/new">Comment Here!</a>
    </div>
    <div class="container">
        <% theplace.comments.forEach(function(comment){ %>
            <p>
                <strong>
                    <%= comment.author.username %>
                </strong> 
                - <%= comment.text%>
            </p>
       <% }) %>
    </div>
</div>




<%- include ('../partials/footer.ejs') %>


